.card-img {
    width: 450px;
    height: 450px;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    object-position: center; /* Centra la imagen horizontal y verticalmente */
}
.item img {
    width: 100px; /* Ancho de la plantilla */
    height: 100px; /* Altura de la plantilla */
    background-color: white; /* Color de fondo blanco */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    object-position: center; /* Centra la imagen horizontal y verticalmente */
}
#product-detail {
    width: 600px;
    height: 500px;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    object-position: center; /* Centra la imagen horizontal y verticalmente */
}


/* Estilos para la tabla */
#cartTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilos para las celdas de la tabla */
#cartTable td, #cartTable th {
    padding: 10px;
    text-align: center;
}

/* Estilos para las filas impares */
#cartTable tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#cartTable td, #cartTable th {
    text-align: center;
    vertical-align: middle; /* Alinear verticalmente el contenido */
}

/* Estilos específicos para las columnas Name, Quantity, Price (Unit), Total y Actions */
#cartTable th:nth-child(2),
#cartTable td:nth-child(2),
#cartTable th:nth-child(3),
#cartTable td:nth-child(3),
#cartTable th:nth-child(4),
#cartTable td:nth-child(4),
#cartTable th:nth-child(5),
#cartTable td:nth-child(5),
#cartTable th:nth-child(6),
#cartTable td:nth-child(6) {
    text-align: center;
}

.back-to-shop a {
    text-decoration: none; /* Eliminar subrayado del enlace */
}
@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */

    #related-products-section .card {
        height: auto; /* Ajusta la altura automáticamente */
    }
    #related-products-section .card-body {
        padding: 10px; /* Ajusta el espacio interno del cuerpo del card */
    }
    #related-products-section .card-img {
        max-height: 200px; /* Establece la altura máxima de la imagen */
    }
}
/* Estilos específicos para las imágenes del carrusel */
.exclude-from-css .carousel-item img {
    /* Estilos específicos para las imágenes del carrusel */
    width: auto;
    height: auto;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
    object-position: center; /* Centra la imagen horizontal y verticalmente */
}

