<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
</head>
<body>
<header th:replace="~{layout/layout :: header}" >
</header >
<section>
    <div class="container py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="text-success" ><b th:text="${title}"></b></h1>
        </div>
        <div class="row py-5">
            <form th:action="@{/agregar/reloje}" th:object="${watch}" class="col-md-9 m-auto"  role="form" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="name">Nombre Producto</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="price">Precio</label>
                        <input type="text" class="form-control" id="price" name="price" th:field="*{price}" required>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <select class="form-select" aria-label="Default select example" id="gender" name="gender">
                        <option selected> Género </option>
                        <option th:each="gender : ${genders}"
                                th:value="${gender}"
                                th:text="${gender}">
                        </option>
                    </select>
                </div>
                    <div class="form-group col-md-6 mb-3">
                        <select class="form-select" aria-label="Default select example" id="watchType" name="watchType">
                            <option selected> Tipo de reloj </option>
                            <option th:each="type : ${types}"
                                    th:value="${type}"
                                    th:text="${type}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="brand"> Marca </label>
                        <input type="text" class="form-control" id="brand" name="brand"  th:field="*{brand}" required>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="color"> Color </label>
                        <input type="text" class="form-control" id="color" name="color"  th:field="*{color}" required>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="description"> Descripción </label>
                    <textarea class="form-control" id="description" name="description"  th:field="*{description}" required></textarea>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="waterResistant" name="waterResistant" th:checked="${watch.waterResistant}">
                            <label class="form-check-label" for="waterResistant">Resistente al agua</label>
                        </div>
                    </div>
                </div>
                <div class="form-group  mt-4">
                    <p class="text-danger"> Las imagenes deben tener un tamaño de 900x900 </p>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="image">Imagen principal</label>
                        <section id="multi-selector">
                            <input id="image" type="file" name="imag" multiple>
                        </section>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="files">Galería de imágenes</label>
                        <section id="multi-selector-uniq">
                            <input id="files" type="file" name="images" multiple>
                            <ul id="preview"></ul>
                        </section>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Agregar</button>
            </form>
        </div>
    </div>
    </div>
</section>
<footer th:replace="~{layout/layout :: footer}">
</footer>
<script src="/assets/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/templatemo.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/addimg.js"></script>
</body>
</html>
