<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
</head>
<link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css" th:href="@{/assets/css/slick.min.css}">
<link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css" th:href="@{/assets/css/slick-theme.css}">
<body>
<header th:replace="~{layout/layout :: header}">
</header>
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators" >
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success">Bienvenido a <b>Tutienda</b></h1>
                                <h3 class="h2">Tu Destino para una Experiencia de Compra Sin Contratiempos</h3>
                                <p>
                                    Bienvenido a Tutienda, tu destino principal para experimentar el futuro de las compras en línea.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">Descubre lo que te hace único</h1>
                                <h3 class="h2">Encuentra tu estilo con nosotros</h3>
                                <p>
                                    En Tutienda, te ofrecemos una experiencia de compra única, donde cada producto cuenta una historia y cada compra es una oportunidad para expresarte.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_03.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1 text-success">¡Tu destino para una experiencia de compra sin contratiempos!</h1>
                                <p>
                                    ¡Descubre la emoción de encontrar lo que necesitas y más en Tutienda!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categorías</h1>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a th:href="@{/tienda(categoria=${'watches'})}">
                    <img src="./assets/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Relojes</h5>
                <p class="text-center"><a class="btn btn-success" th:href="@{/tienda(categoria=${'watches'})}">Ir a tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a th:href="@{/tienda(categoria=${'shoes'})}">
                    <img src="./assets/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Zapatos</h2>
                <p class="text-center"><a class="btn btn-success" th:href="@{/tienda(categoria=${'shoes'})}">Ir a tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a th:href="@{/tienda(categoria=${'clothing'})}">
                    <img src="./assets/img/category_img_04.jpg" class="rounded-circle img-fluid border">
                </a>
                <h2 class="h5 text-center mt-3 mb-3">Ropa</h2>
                <p class="text-center"><a class="btn btn-success" th:href="@{/tienda(categoria=${'clothing'})}">Ir a tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a th:href="@{/tienda(categoria=${'glasses'})}">
                    <img src="./assets/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Gafas</h2>
                <p class="text-center"><a class="btn btn-success" th:href="@{/tienda(categoria=${'glasses'})}" >Ir a tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a th:href="@{/tienda(categoria=${'bags'})}">
                    <img src="./assets/img/category_img_05.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Bolsos</h2>
                <p class="text-center"><a class="btn btn-success" th:href="@{/tienda(categoria=${'bags'})}">Ir a tienda</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a th:href="@{/tienda(categoria=${'jewelry'})}">
                    <img src="./assets/img/category_img_06.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Joyas</h2>
                <p class="text-center"><a th:href="@{/tienda(categoria=${'jewelry'})}" class="btn btn-success">Ir a tienda</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
<section id="related-products-section" class="bg-light">
    <div class="container  py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Mejores Valorados</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <!--Start Carousel Wrapper-->
        <div id="carousel-related-product" class="row" th:data-products="${products}">
            <div class="col-md-4" th:each="product : ${products}">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <img class="card-img" th:src="${product.getImagePrimary}" alt="Imagen del producto">
                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white" th:href="@{/producto/{id}(id=${product.id})}"><i class="far fa-heart"></i></a></li>
                                <li><a class="btn btn-success text-white mt-2" th:href="@{/producto/{id}(id=${product.id})}"><i class="far fa-eye"></i></a></li>
                                <li><a id="add-to-cart-button" class="btn btn-success text-white mt-2" th:onclick="addToCart([[${product}]])"><i class="fas fa-cart-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="h3 text-decoration-none" th:href="@{/producto/{id}(id=${product.id})}" th:text="${product.name}">Oupidatat non</a>
                        <ul class="w-100 list-unstyled d-flex justify-content-start mb-0">
                            <!-- Verificar si el producto es una instancia de Clothing (ropa) -->
                            <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Clothing)}">
                                <!-- Iterar sobre las tallas de ropa -->
                                <th:block th:each="size : ${product.clothingSizes}">
                                    <li>
                                        <span th:text="${size.clothingSize.name()+'&nbsp;'}"></span>
                                    </li>
                                </th:block>
                            </th:block>
                            <!-- Verificar si el producto es una instancia de Shoe (zapatos) -->
                            <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Shoe)}">
                                <!-- Iterar sobre las tallas de zapatos -->
                                <th:block th:each="size : ${product.shoeSizes}">
                                    <li>
                                        <span th:text="${size.shoeSize.getSize()} +'&nbsp;'"></span>
                                    </li>
                                </th:block>
                            </th:block>
                            <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Watch)}">
                                <!-- Mostrar el tipo de reloj -->
                                <li>
                                    <span th:text="${product.watchType.type}"></span>
                                </li>
                            </th:block>
                            <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Glass)}">
                                <!-- Mostrar el tipo de reloj -->
                                <li>
                                    <span th:text="${product.UVProtectionLevel.getDescription()}"></span>
                                </li>
                            </th:block>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-center mb-1">
                            <li>
                                <i class="fa fa-star" th:classappend="${product.rating >= 1} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${product.rating >= 2} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${product.rating >= 3} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${product.rating >= 4} ? 'text-warning' : 'text-secondary'"></i>
                                <i class="fa fa-star" th:classappend="${product.rating >= 5} ? 'text-warning' : 'text-secondary'"></i>
                            </li>
                        </ul>
                        <p class="text-center mb-0" th:text="${#numbers.formatDecimal(product.price, 2, 'COMMA', 2, 'COMMA')} + ' €'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->
    <!-- Start Footer -->
<footer th:replace="~{layout/layout :: footer}">

</footer>

<!-- End Footer -->
    <!-- Start Script -->
<script th:src="@{/assets/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/templatemo.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<script th:src="@{/assets/js/cartService.js}"></script>

    <!-- End Script -->
<!-- Agrega SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    window.onload = function() {
        Swal.fire({
            title: '¡Bienvenido a Tutienda!',
            text: 'Por favor, ten en cuenta que Tutienda es un proyecto de demostración y no representa una tienda de comercio electrónico real. Es parte de mi portafolio para mostrar habilidades en el desarrollo de aplicaciones web con tecnologías  como Spring Boot y Thymeleaf.',
            icon: 'info',
            confirmButtonText: 'Entendido'
        });
    };
</script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 3,
            slidesToScroll: 2,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 4
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 4
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 4
                    }
                }
            ]
        });
    });
</script>


</body>

</html>