<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Inicio del resumen -->
<div class="col-md-4 summary">
    <div><h5><b>Summary</b></h5></div>
    <hr>
    <form>
        <p>SHIPPING</p>
        <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
        <p>GIVE CODE</p>
        <input id="code" placeholder="Enter your code">
    </form>

    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right" th:text="'$' + ${cart.getTotalCart()}" ></div>
    </div>
    <form action="#" class="credit-card-div">
        <div class="panel panel-default" >
            <div class="panel-heading">

                <div class="row ">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Enter Card Number" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font" > Expiry Month</span>
                        <input type="text" class="form-control" placeholder="MM" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font" >  Expiry Year</span>
                        <input type="text" class="form-control" placeholder="YY" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <span class="help-block text-muted small-font" >  CCV</span>
                        <input type="text" class="form-control" placeholder="CCV" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="assets/img/1.png" class="img-rounded" />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 pad-adjust">

                        <input type="text" class="form-control" placeholder="Name On The Card" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pad-adjust">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked class="text-muted"> Save details for fast payments <a href="#"> learn how ?</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                        <input type="submit"  class="btn btn-danger" value="CANCEL" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                        <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                    </div>
                </div>

            </div>
        </div>
    </form>
    <button class="btn">CHECKOUT</button>
</div>
<!-- Fin del resumen -->
</body>
</html>