<!DOCTYPE html>
<html lang="Spanish" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/layout :: head}">
</head>
<body>
<header th:replace="~{layout/layout :: header}">
</header>
<!-- Modal -->
<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-2">
            <h1 class="h2 pb-4 text-success">Categorías</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Productos
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li class="pb-2">
                            <a class="text-decoration-none" href="#" id="clothing">Ropa
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="clothing-filter" class="collapse list-unstyled pl-3 list-inline shop-top-menu pb-3 pt-1">
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'camisa'})}">Camisas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'camiseta'})}">Camisetas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'sudadera'})}">Sudaderas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'pantalon'})}">Pantalones</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'ropa deportiva'})}">Ropa deportiva</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'polo'})}">Polos</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'vestido'})}">Vestidos</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'falda'})}">Faldas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'chaqueta'})}">Chaquetas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'chaqueta Ligera'})}">Chaquetas ligeras</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'clothing'},type=${'otros'})}">Otros</a></li>
                            </ul>
                        </li>
                        <li class="pb-2 " >
                            <a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'})}" id="shoes"> Calzado
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="shoes-filter" class="collapse list-unstyled pl-3 list-inline shop-top-menu pb-3 pt-1">
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'},type=${'zapatos'})}">Zapatos</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'},type=${'zapatos clásicos'})}">Zapatos clásicos</C></a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'},type=${'zapatillas'})}">Zapatillas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'},type=${'zapatillas deportivas'})}">Zapatillas deportivas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'},type=${'sandalias'})}">Sandalías</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'},type=${'botas'})}">Botas</a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'shoes'},type=${'tacones'})}">Tacones</a></li>
                            </ul>
                        </li>
                        <li class="pb-2 ">
                            <a class="text-decoration-none" th:href="@{/tienda(category=${'jewelry'})}" id="accces"> Accesorios
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="accces-filter" class="collapse list-unstyled pl-3 list-inline shop-top-menu pb-3 pt-1">
                                <li><a class="text-dark text-decoration-none mr-3" th:href="@{/tienda(category=${'shoes'},type=${'cinturones'})}"> Cinturones </a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'jewelry'},type=${'joyas'})}"> Joyas </a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'jewelry'},type=${'carteras'})}"> Carteras </a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'jewelry'},type=${'carteras'})}"> Monederos </a></li>
                            </ul>
                        </li>
                        <li class="pb-2 ">
                            <a class="text-decoration-none" th:href="@{/tienda(category=${'bags'})}" id="bags" >Bolsos
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="bags-filter" class="collapse list-unstyled pl-3 list-inline shop-top-menu pb-3 pt-1">
                                <li><a class="text-dark text-decoration-none mr-3" th:href="@{/tienda(category=${'bags'},type=${'bolsos'})}"> Bolsos </a></li>
                                <li><a class="text-decoration-none" th:href="@{/tienda(category=${'bags'},type=${'mochilas'})}"> Mochilas  </a></li>
                            </ul>
                        </li>
                        <li class="pb-2 ">
                            <a class="text-decoration-none" th:href="@{/tienda(category=${'watches'})}" >Relojes</a>
                        </li> 
                        <li class="pb-2 ">
                            <a class="text-decoration-none" th:href="@{/tienda(category=${'glasses'})}">Gafas</a>
                        </li>

                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Género
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3" >
                        <li><a class="text-decoration-none gender-link" href="#" data-gender="hombre">Hombre</a></li>
                        <li><a class="text-decoration-none gender-link" href="#" data-gender="mujer">Mujer</a></li>
                        <li><a class="text-decoration-none gender-link" href="#" data-gender="unisex">Unisex</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" th:href="@{/tienda}">Todos </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" th:href="@{/tienda(gender=${'hombre'})}">Hombres</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" th:href="@{/tienda(gender=${'mujer'})}">Mujeres</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" th:href="@{/tienda(gender=${'unisex'})}">Unisex</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div  class="container" id="productos-container">
                <div class="row">
                    <!-- Iterar sobre la lista de productos -->
                    <div class="col-md-4" th:each="product : ${products}">
                        <div class="card mb-4  product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img" th:src="${product.getImagePrimary}" alt="Imagen del producto">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="#"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" th:href="@{/producto/{id}(id=${product.id})}"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a class="h3 text-decoration-none" th:href="@{/producto/{id}(id=${product.id})}" th:text="${product.name}">Oupidatat non</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-start mb-0">
                                    <!-- Verificar si el producto es una instancia de Clothing (ropa) -->
                                    <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Clothing)}">
                                        <!-- Iterar sobre las tallas de ropa -->
                                        <th:block th:each="size : ${product.clothingSizes}">
                                            <li>
                                                <span th:text="${size.clothingSize.name()+'&nbsp;'}"></span>
                                            </li>
                                        </th:block>
                                    </th:block>
                                    <!-- Verificar si el producto es una instancia de Shoe (zapatos) -->
                                    <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Shoe)}">
                                        <!-- Iterar sobre las tallas de zapatos -->
                                        <th:block th:each="size : ${product.shoeSizes}">
                                            <li>
                                                <span th:text="${size.shoeSize.getSize()} +'&nbsp;'"></span>
                                            </li>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Watch)}">
                                        <!-- Mostrar el tipo de reloj -->
                                        <li>
                                            <span th:text="${product.watchType.type}"></span>
                                        </li>
                                    </th:block>
                                    <th:block th:if="${product instanceof T(com.Tutienda.entity.product.Glass)}">
                                        <!-- Mostrar el tipo de reloj -->
                                        <li>
                                            <span th:text="${product.UVProtectionLevel.getDescription()}"></span>
                                        </li>
                                    </th:block>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="fa fa-star" th:classappend="${product.rating >= 1} ? 'text-warning' : 'text-secondary'"></i>
                                        <i class="fa fa-star" th:classappend="${product.rating >= 2} ? 'text-warning' : 'text-secondary'"></i>
                                        <i class="fa fa-star" th:classappend="${product.rating >= 3} ? 'text-warning' : 'text-secondary'"></i>
                                        <i class="fa fa-star" th:classappend="${product.rating >= 4} ? 'text-warning' : 'text-secondary'"></i>
                                        <i class="fa fa-star" th:classappend="${product.rating >= 5} ? 'text-warning' : 'text-secondary'"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0" th:text="${#numbers.formatDecimal(product.price, 2, 'COMMA', 2, 'COMMA')} + ' €'"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paginación -->
                <div class="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled" th:class="${not page.isHasPrevius}? 'page-item disabled':'page-item'">
                            <span th:if="${not page.isHasPrevius}" class="page-link">&laquo;</span>
                            <a th:if="${page.isHasPrevius}" class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" th:href="@{${page.getUrlWithParams(page.actualPage-2)}}" aria-label="Previous">&laquo;</a>
                        </li>
                        <li class="page-item" th:each="item: ${page.pages}" th:class="${item.actual}? 'page-item active':'page-item'">
                            <span th:if="${item.actual}" th:text="${item.number}" class="page-link"></span>
                            <a th:if="${not item.actual}" class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" th:href="@{${page.getUrlWithParams(item.number-1)}}" th:text="${item.number}"></a>
                        </li>
                        <li class="page-item" th:class="${not page.isHasNext}? 'page-item disabled':'page-item'">
                            <span th:if="${not page.isHasNext}" class="page-link">&raquo;</span>
                            <a th:if="${page.isHasNext}" class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" th:href="@{${page.getUrlWithParams(page.actualPage)}}" aria-label="Next">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- End Content -->
<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nuestras marcas</h1>
                <p>
                    Descubre una amplia selección de marcas reconocidas mundialmente, cuidadosamente elegidas para satisfacer tus necesidades y gustos.
                    Desde moda y estilo de vida hasta tecnología y hogar, nuestras marcas ofrecen calidad, innovación y estilo inigualables.
                    Explora nuestras colecciones y encuentra lo que buscas para destacar en cada aspecto de tu vida.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->


<!-- Start Footer -->
<footer th:replace="~{layout/layout :: footer}">

</footer>
<!-- End Footer -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const ropaButton = document.getElementById("clothing");
        const filtrosRopa = document.getElementById("clothing-filter");

        ropaButton.addEventListener("click", function(event) {
            event.preventDefault();
            filtrosRopa.classList.toggle("show");
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const ropaButton = document.getElementById("shoes");
        const filtrosRopa = document.getElementById("shoes-filter");

        ropaButton.addEventListener("click", function(event) {
            event.preventDefault();
            filtrosRopa.classList.toggle("show");
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const ropaButton = document.getElementById("accces");
        const filtrosRopa = document.getElementById("accces-filter");

        ropaButton.addEventListener("click", function(event) {
            event.preventDefault();
            filtrosRopa.classList.toggle("show");
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const ropaButton = document.getElementById("bags");
        const filtrosRopa = document.getElementById("bags-filter");

        ropaButton.addEventListener("click", function(event) {
            event.preventDefault();
            filtrosRopa.classList.toggle("show");
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
     // Selecciona todos los enlaces de género
     const genderLinks = document.querySelectorAll('.gender-link');

     // Asigna un evento de clic a cada enlace de género
     genderLinks.forEach(function(link) {
         link.addEventListener('click', function(event) {
             event.preventDefault(); // Evita la acción predeterminada del enlace
             const gender = link.getAttribute('data-gender'); // Obtiene el valor del género
             updateUrlParameter('gender', gender); // Actualiza el parámetro 'gender' en la URL
         });
     });
 });

 function updateUrlParameter(key, value) {
     // Obtiene la URL actual
     let urlString = window.location.href;

     // Reemplaza el valor del parámetro o agrega el nuevo parámetro si no existe
     const regex = new RegExp('([?&])' + key + '=.*?(&|$)', 'i');
     const separator = urlString.indexOf('?') !== -1 ? '&' : '?';
     if (urlString.match(regex)) {
         // Si el parámetro ya existe en la URL, reemplaza su valor
         urlString = urlString.replace(regex, '$1' + key + '=' + value + '$2');
     } else {
         // Si el parámetro no existe en la URL, agrégalo al final
         urlString = urlString + separator + key + '=' + value;
     }

     // Redirige a la nueva URL
     window.location.href = urlString;
 }

</script>
<script src="assets/js/jquery-1.11.0.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/templatemo.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/cartService.js"></script>
<!-- End Script -->
</body>

</html>